body {
    margin: 0;
    overflow-x: hidden;
  }
  
  .scroll-container {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  
  .scroll-section {
    scroll-snap-align: start;
  }